:root {
    --primary-color: #294131;
    --secondary-color: #33503a;
    --accent-color: #ffffff;
    --primary-text: "playfair display", sans-serfif;

}

body {
    background-color: #000;
    border-color: var(--secondary-color);
    color: var(--accent-color);
    font-family: var(--primary-text);
}

input {
    width: 20rem;
    height: 15px;
}

#search-btn {
    background-color: #383838;
    color: var(--accent-color);
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 30px;
    transition: .3s;
}

button:hover {
    background-color: #fff;
    box-shadow: 0 0 0 5px #7a7a7a;
    color: #000;
}

.input-wrapper {
    margin: 0 10px;
}
